body {
    width: 375px;
    height: 720px;
    overflow: scroll;
    margin: 0px;
}
header {
    height: 80px;
    overflow: hidden;
}
header > img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}
header > div {
    position: absolute;
    top: 22px;
    left: 80px;
    text-align: center;
}
.caja-header { 
    text-decoration: none;
    color:white;
    font-family: AvenirNext-DemiBold;
    font-size: 24px;
    padding: 8px 8px;
    border: 4px solid rgba(255,255,255,0.40);
    /* --- resolver centrado de caja -- */
}
.breadcrumb {
    font-family: AvenirNext-Regular;
    font-size: 14px;
    color: #4A4A4A;
}
.breadcrumb > li {
    list-style: none;
    display: inline-block;
    /* --- revolver porque no saca el decorado --- */
}
h1 {
    font-weight: normal;
    font-family: AvenirNext-Regular;
    font-size: 28px;
    color: #4A4A4A;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 14px;
}
#map {
    text-align: center;
    font-family: AvenirNext-Regular;
    font-size: 16px;
    color: F2D937;
}
h2 {
    font-weight: normal;
    font-family: AvenirNext-Regular;
    font-size: 24px;
    left: 49px;
    margin-left: 40px;
    color: #4A4A4A;
    margin-bottom: 14px;
    margin-top: 14px;
}
h3 {
    font-weight: normal;
    font-family: AvenirNext-Regular;
    font-size: 18px;
    left: 49px;
    margin-left: 40px;
    color: #4A4A4A;
    margin-bottom: 14px;
    margin-top: 14px;
}
p {
    margin: 16px 20px 12px 16px;
    font-family: AvenirNext-Regular;
    font-size: 14px;
    color: #4A4A4A;
}
.boton {
    text-align: right;
}
button {
    background: white;
    border-radius: 24px;
    font-family: AvenirNext-Medium;
    font-size: 12px;
    color: 2FB4C2;
    padding: 4px 20px;
    border: 1px solid #2FB4C2;
    margin-right: 36px;
}
button:hover {
  background: linear-gradient(-134deg, #1D4FA5 0%, #2FB4C2 100%);
  text-decoration: none;
  border: none;
}
.contenido > img {
    height: 200px;
    width: auto;
}
footer {
    background-color: #ABD1DB;
    height: 53px;
    padding: 8px;
    margin-top: 24px;
}
footer > p {
    text-align: center;
    font-family: AvenirNext-Italic;
    font-size: 12px;
    color: #4A4A4A;
}
.imagen-ciudad {
    height: 200px;
    width: auto;
    border-radius: 16px;
}
.imagen {
    text-align: center;
}
a {
    margin: 16px 20px 12px 16px;
    font-family: AvenirNext-Regular;
    font-size: 14px;
    color: #4A4A4A;
    font-style: none;
}
.img-about {
    border-radius: 16px;
}
li {
    list-style-type: none;
}
.img-comidas {
    height: 350px;
    width: auto;
    border-radius: 16px;
}
.cafe-delirante {
    height: 350px;
    width: auto;
    border-radius: 16px;
}
.img-lista {
    width: 340px;
    height: auto;
    border-radius: 16px;
}
.img-naturaleza {
    width: 340px;
    height: auto;
}
dl {
    margin: 16px 20px 12px 16px;
    font-family: AvenirNext-Regular;
    font-size: 14px;
    color: #4A4A4A;
}
table {
    margin: 16px 20px 12px 16px;
    font-family: AvenirNext-Regular;
    font-size: 14px;
    color: #4A4A4A;
}